In [4]:
for i in range (2,21,2):
 print(i)

2
4
6
8
10
12
14
16
18
20

In [5]:
for i in range (3,16,3):
    print(i)

3
6
9
12
15

In [2]:
#a)Adicione nessa lista o país Inglaterra como primeira
#viagem.
#b) Exclua Argentina do roteiro de viagem.
#c) Adicione México nas viagens
viagem = ['Japão', 'Panamá', 'Argentina', 'Bolivia'
,'Canadá', 'China']
lista_2 = ['inglaterra']
viagem.extend(lista_2)
viagem.remove('Argentina')
viagem.insert(6,'mexico')
print(viagem)

['Japão', 'Panamá', 'Bolivia', 'Canadá', 'China', 'inglaterra', 'mexico']

In [44]:
notas = [0, 10, 10, 10, 9, 8, 5, 4, 2, 6, 6, 5, 4]
reprovados=[]
aprovados=[]
for nota in notas:
    if nota < 7:
     reprovados.append(notas)
    else:
        aprovados.append(notas)
media= sum(notas)/len(notas)
qnt_aprovados= len(aprovados)
qnt_reprovados= len(reprovados)

print(f'a quantidade de aprovados: {qnt_aprovados}')
print(f'a quantidade de reprovados: {qnt_reprovados}')
print(f'a media é: {media:.2f}')

a quantidade de aprovados: 5
a quantidade de reprovados: 8
a media é: 6.08

In [12]:
import pandas as pd

In [35]:
df = pd.DataFrame(
    {"Alunos":['Fulano', 'Cilano', 'Beltrano', 'Gerlano','Marlano', 'Jesiano'],
     "Notas": [0, 2, 10, 9, 8, 5],}
)
df.loc[df['Notas']>=7, 'Resultado'] = 'Aprovado'
df.loc[df['Notas']<=7, 'Resultado'] = 'Reprovado'
df

     Alunos  Notas  Resultado
0    Fulano      0  Reprovado
1    Cilano      2  Reprovado
2  Beltrano     10   Aprovado
3   Gerlano      9   Aprovado
4   Marlano      8   Aprovado
5   Jesiano      5  Reprovado

In [1]:
vendedores = ['Hugo', 'Ignacio', 'Jony', 'Lion', 'Monica', 'Natalia']
vendas = [50, 100, 2, 30, 50, 3]

print("Vendas por vendedores:")
print('-----------------------')
for i in range(len(vendedores)):
    print(f"{vendedores[i]}: {vendas[i]}")

Vendas por vendedores:
-----------------------
Hugo: 50
Ignacio: 100
Jony: 2
Lion: 30
Monica: 50
Natalia: 3

In [2]:
notas = [0, 2, 10, 9, 8, 5]
alunos = ['Fulano', 'Cilano', 'Beltrano', 'Gerlano', 'Marlano', 'Jesiano']

aprovados = []
reprovados = []

limite_aprovacao = 6

for i in range(len(alunos)):
    if notas[i] >= limite_aprovacao:
        aprovados.append((alunos[i], notas[i]))
    else:
        reprovados.append((alunos[i], notas[i]))

print("Alunos Aprovados:")
for aluno, nota in aprovados:
    print(f"{aluno}: {nota}")

print("\nAlunos Reprovados:")
for aluno, nota in reprovados:
    print(f"{aluno}: {nota}")

Alunos Aprovados:
Beltrano: 10
Gerlano: 9
Marlano: 8

Alunos Reprovados:
Fulano: 0
Cilano: 2
Jesiano: 5